@media screen and (max-width: 1400px) {
    .result__top__item {
        width: 210px;
        padding: 140px 50px 35px 0;
        background-position: left 20px;
    }
}

@media screen and (max-width: 1305px) {
    .container {
        max-width: 1155px;
        padding: 0 39px;
    }
    .header {
        max-width: 1155px;
    }
    .result__bottom {
        margin-top: 20px;
        padding: 0;
        padding-left: 360px;
        background-size: 330px 256px;
    }
    .result__bottom__title {
        font-size: 30px;
    }
    .sketch {
        background-position: right  bottom;
        background-size: 55%;
    }
}

@media screen and (max-width: 1055px) {
    .hero_left {
        width: 390px;
    }
    .hero_title {
        font-size: 50px;
    }
    .hero_right {
        width: 270px;
        height: 410px;
        background-image: url("/images/hero\ image2.svg");
    }
    .sketch {
        background-image: url("/images/sketch-1.svg");
        background-position: right  bottom;
        background-size: auto;
    }
    .product__list {
        flex-wrap: wrap;
    }
    .product__card {
        width: 330px;
        padding: 230px 0 24px;
        background-size: 330px;
    }
    .partners__card {
        width: 150px;
        height: 80px;
        background-size: 115px 32px;
    }
}

@media screen and (max-width: 873px) {
    .container {
        max-width: 873px;
    }
    .navigation {
        flex-wrap: wrap;
    }
    nav {
        width: 100%;
        text-align: center;
        order: 1;
    }
    ul.menu {
        width: 100%;
    }
}

@media screen and (max-width: 740px) {
    .hero_left {
        width: 287px;
    }
    .hero_title {
        font-size: 38px;
    }
    .hero_text {
        font-size: 16px;
    }
    .button {
        width: 196px;
        height: 60px;
    }
    .hero_right {
        margin-top: 20px;
        width: 195px;
        height: 396px;
        background-image: url("/images/hero\ image3.svg");
    }
    .result__top {
        font-size: 16px;
    }
    .result__top__item {
        width: 150px;
        padding: 140px 50px 35px 0;
        background-position: left 20px;
    }
    .result__bottom__title {
        font-size: 24px;
    }
    .result__bottom__text {
        font-size: 16px;
    }
    .product__card {
        width: 240px;
        padding: 180px 0 24px;
        background-size: 240px;
    }
    .partners__list {
        flex-wrap: wrap;
    }
    .partners__card {
        width: 240px;
        height: 127px;
    }
    .partners__card--3,
    .partners__card--4 {
        margin-top: 30px;
    }
}

@media screen and (max-width: 625px) {
        ul.menu > li {
        margin: 0 15px;
    }
    .result__top {
        flex-direction: column;
    }
    .result__top__item {
        padding: 35px 0 25px 190px;
        background-position: left center;
    }
    .result__top__item {
        width: 100%;
    }
    .result__bottom {
        padding: 260px 0 0;
    }
}

@media screen and (max-width: 550px) {
    .container {
        padding: 0 15px;
    }
    .hero_inner {
        margin-top: 0;
        justify-content: center;
        padding: 49px 0;
    }
    .hero_title {
        font-size: 30px;
    }
    .hero_text {
        font-size: 14px;
    }
    a.button {
        font-size: 18px;
        width: 144px;
        height: 50px;
        padding-top: 12px;
        padding-bottom: 12px;

    }
    .hero_right {
        width: 0px;
        height: 0px;
    }
    nav {
        display: none;
    }
    .burger {
        display: flex;
    }
    .logo {
        margin: 0 35%;
    }
    .result__top {
        flex-direction: column;
    }
    .result__top__item {
        padding: 35px 0 25px 190px;
        background-position: left center;
    }
    .result__top__item {
        width: 100%;
        padding-left: 140px;
        background-size: 130px 96px;
    }
    .result__bottom {
        background-size: 290px 223px;
    }
    .sketch {
        background-position: top 20px center;
        background-size: 290px 221px;
    }
    .sketch__item {
        padding: 260px 0 0;
    }
    .sketch__info {
        width: 289px;
    }
    .sketch__title {
        font-size: 24px;
    }
    .sketch__text {
        width: 100%;
        font-size: 16px;
    }
    .logo__footer {
        margin: 0 auto;
    }
    footer {
        height: 130px;
    }
    .socials__icon {
        margin: 25px auto;
    }
}

@media screen and (max-width: 510px) {
    .partners__card {
        margin: auto;
    }
    .partners__card--2,
    .partners__card--3,
    .partners__card--4 {
        margin-top: 30px;
    }
}