html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
.container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 165px;
}

/* Раздел "header" */

.header {
    width: 100%;
    max-width: 1440px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid #DDDDDD;
}

.navigation {
    width: 100%;
    max-width: 1110px;
    height: 80PX;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    width: 30px;
    height: 30px;
    padding: 5px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger span {
    width: 20px;
    background-color: #4C5866;
    border: 1px solid #4C5866;
    border-radius: 1px;
}

nav {
    /*display: flex;
    align-items: center;*/
}

ul.menu {
    padding: 0;
    vertical-align: baseline;
}

ul.menu > li {
    display: inline;
    margin: 0 30px;
}

ul.menu > li:nth-child(1) {
    margin-left: 0;
}

ul.menu > li:nth-child(4) {
    margin-right: 0;
}

ul.menu > li > a {
    font-size: 20px;
    text-decoration: none;
    color: #4C5866;
}

ul.menu > li > a:hover {
    transition: 0.5s;
    color: #7875FE;
}

ul.menu > li > a:active {
    transition: 0.2s;
    color: #4C5866;
    background-color: #DAD9FB;
}

div.menu_2 {
    display: flex;
}

.search {
    margin: auto 15px auto 30px;
    background-image: url("/logo/search.svg");
    height: 24px;
    width: 24px;
}

.search:hover {
    transition: 0.5s;
    background-image: url("/logo/search-hover.svg");
}

.search:active {
    transition: 0.2s;
    background-image: url("/logo/search-focus.svg");
}

.log-in {
    margin: auto 0 auto 15px;
    background: url("/logo/log-in.svg") no-repeat;
    height: 24px;
    width: 24px;
}

.log-in:hover {
    transition: 0.5s;
    background-image: url("/logo/log-in-hover.svg");
}

.log-in:active {
    transition: 0.2s;
    background-image: url("/logo/log-in-focus.svg");
}

/* Раздел "hero" */

.hero_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_left {
    width: 445px;
}

.hero_title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 95%;
    color: #4C5866;
}

.hero_text {
    font-size: 18px;
    line-height: 150%;
    color: #85859B;
}

.hero_right {
    margin: 60px 0 0;
    padding: 0;
    width: 540px;
    height: 560px;
    background-image: url("/images/hero\ image.svg");
}

/* Раздел "result" */

.result {
    width: 100%;
    padding: 90px 0;
    background-color: #EBEBEB;
}

.result__inner {
    display: flex;
    flex-direction: column;
}

.result__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    line-height: 150%;
}

.result__top__item {
    width: 350px;
    margin-right: auto;
    padding: 35px 0 25px 190px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 160px 118px;
    border-top: 1px solid #C0C0C0;
}

.result__top__item:nth-child(3) {
    margin-right: 0;
}

.result__top__item--1 {
    background-image: url("/images/description1.svg");
}

.result__top__item--2 {
    background-image: url("/images/description2.svg");
}

.result__top__item--3 {
    background-image: url("/images/description3.svg");
}

.result__top__title {
    margin: 5px 0;
    width: 160px;
    font-weight: 500;
    color: #666666;
}

.result__top__text {
    margin: 5px;
    width: 160px;
    font-weight: 400;
    color: #85859B;
}

.result__bottom {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding: 60px 0;
    padding-left: 760px;
    background-image: url("/images/description.svg");
    background-position: left top;
    background-repeat: no-repeat;

}
.result__bottom__title {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
    color: #666666;
}
.result__bottom__text {
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    color: #85859B;
}

