html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
.container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 165px;
}

/* Раздел "header" */

.header {
    width: 100%;
    max-width: 1440px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid #DDDDDD;
}

.navigation {
    width: 100%;
    max-width: 1110px;
    height: 80PX;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

ul.menu {
    padding: 0;
    vertical-align: baseline;
}

ul.menu > li {
    display: inline;
    height: 23px;
    margin: 0 30px;
}

ul.menu > li:nth-child(1) {
    margin-left: 0;
}

ul.menu > li:nth-child(6) {
    margin: 0;
}

ul.menu > li > a {
    font-size: 20px;
    text-decoration: none;
    color: #4C5866;
}

ul.menu > li > a:hover {
    transition: 0.5s;
    color: #7875FE;
}

ul.menu > li > a:active {
    transition: 0.2s;
    color: #4C5866;
    background-color: #DAD9FB;
}

.search {
    margin: auto 15px auto 30px;
    background-image: url("/logo/search.svg");
    height: 24px;
    width: 24px;
}

.search:hover {
    transition: 0.5s;
    background-image: url("/logo/search-hover.svg");
}

.search:active {
    transition: 0.2s;
    background-image: url("/logo/search-focus.svg");
}

.log-in {
    margin: auto 0 auto 15px;
    background: url("/logo/log-in.svg") no-repeat;
    height: 24px;
    width: 24px;
}

.log-in:hover {
    transition: 0.5s;
    background-image: url("/logo/log-in-hover.svg");
}

.log-in:active {
    transition: 0.2s;
    background-image: url("/logo/log-in-focus.svg");
}

/* Раздел "hero" */

.hero_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_left {
    width: 445px;
}

.hero_title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 95%;
    color: #4C5866;
}

.hero_text {
    font-size: 18px;
    line-height: 150%;
    color: #85859B;
}

.hero_right {
    margin: 60px 0 0;
    padding: 0;
    width: 540px;
    height: 560px;
    background-image: url("/images/hero\ image.svg");
}

